@model ProfileViewModel
@inject SignInManager<UpdateUser> signInManager;

@{
    ViewBag.Title = "Admin Profile";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
    var pp = "~/images/" + (Model.ProfilePicture ?? "gdCar.jpg");
}


@if(signInManager.IsSignedIn(User)){

    <div class="row px-3">
        <h1>Profile</h1>
        
            <div class="dropdown profile-dropdown show mt-2">
                <a class="btn settbtn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Settings
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" asp-controller="Admin" asp-action="UpdateProfile" asp-route-name="@User.Identity.Name"><u>Update Profile</u></a>
                    <a class="dropdown-item" asp-controller="Admin" asp-action="ChangePassword" asp-route-name="@User.Identity.Name"><u>Change Password</u></a>
                    <a class="dropdown-item" asp-controller="Admin" asp-action="AccountDelete" asp-route-name="@User.Identity.Name"><u>Delete Account</u></a>
                </div>
            </div>
        
    </div>


    <div class="profile">

        <hr />
        <dl class="row">
            <dt class="col-sm-2 mt-2">
                @Html.DisplayNameFor(model => model.FullName)
            </dt>
            <dd class="col-sm-10 mt-2">
                @Html.DisplayFor(model => model.FullName)
            </dd>
            <dt class="col-sm-2 mt-2">
                @Html.DisplayNameFor(model => model.UserID)
            </dt>
            <dd class="col-sm-10 mt-2">
                @Html.DisplayFor(model => model.UserID)
            </dd>
        </dl>

        <div class="card m-auto col-md-6 col-lg-4 col-sm-12 mt-2">
            <div class="card-body">
                <img src="@pp" class="" style="width:100%;" alt="No Image" asp-append-version="true" />
            </div>
        </div>

    </div>
}
