@inject SignInManager<UpdateUser> signInManager;
@inject UserManager<UpdateUser> userManager;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - Car_House</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body style="background-color: #34495e;">
    <header>
        @if(signInManager.IsSignedIn(User)){
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="font-size:16px;">
            <div style="background-color: #95a5a6; height:auto" class="container">
                @* <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Car_House</a> *@
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-action="Profile" asp-controller="Admin" asp-route-name="@User.Identity.Name">Profile</a>
                            @* <a class="nav-link text-dark" asp-action="Profile" asp-controller="Admin" asp-route-id="@Model.UserID">Profile</a> *@
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-action="Index" asp-controller="Car">Cars</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        @* @if(signInManager.IsSignedIn(User)){  *@
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @User.Identity.Name
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                @* <a class="dropdown-item" asp-controller="Admin" asp-action="UpdateProfile" asp-route-name="@User.Identity.Name"><u>Update Profile</u></a>
                                <a class="dropdown-item" asp-controller="" asp-action=""><u>Change Password</u></a> *@
                                @* <a class="dropdown-item" asp-controller="" asp-action=""><u>Logout</u></a> *@

                                <form method="post" asp-action="logout" asp-controller="Admin">
                                    <button type="submit" class="nav-link btn btn-link py-0" style="width: auto;color:black;">
                                        <a class="dropdown-item"><u>Logout</u></a>
                                    </button>
                                </form>
                            </div>
                        </li>
                        @* } *@
                    </ul>
                </div>
            </div>
        </nav>
        }
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>